Project/Tirocinio.json
{
  "name": "Tirocinio",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "traffic",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        -16
      ],
      "id": "29a0372a-01f3-4f83-90d8-96a33d7a0459",
      "name": "Webhook",
      "webhookId": "3c78240f-68e9-4b20-999a-5e6131db28ef"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "098f0947-af2d-431b-92d8-6ca14ef98f60",
              "leftValue": "={{ $json.malicious_probability }}",
              "rightValue": 0.35,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        -16
      ],
      "id": "555c4473-d203-4d98-9710-f94030d6cdfc",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ad725235-8e15-4fb8-abd7-ddecec169e6f",
              "name": "esito_analisi",
              "value": "BENIGNO - Traffico sicuro",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        80
      ],
      "id": "011893d0-d184-4e8e-a0d1-e552059cc21f",
      "name": "Benigno"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"esito\": \"{{ $json.esito_analisi }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        80
      ],
      "id": "3e9f9a03-c9ae-45b9-b1c4-da56bfe214c6",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://binario-api:5001/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -16
      ],
      "id": "3ec168bf-bd86-4f53-80d4-77b21bbcecdb",
      "name": "BinaryAPI"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://multiclasse-api:5002/predict",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"features\": $json.features }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        176,
        -112
      ],
      "id": "b12e24ee-cf29-4cd9-b138-0f0e493bc3c1",
      "name": "MultiAPI"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"Attacco_rilevato\": \"{{ $json.attack_name }}\",      \n\"Confidenza\": \"{{ ($json.confidence * 100).toFixed(2) }}%\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        -112
      ],
      "id": "d93ef237-a4ac-472d-991c-ba1d92b6e522",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "BinaryAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "MultiAPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Benigno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benigno": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BinaryAPI": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MultiAPI": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "61900191-2e1f-497f-bc91-569c0bd4a934",
  "meta": {
    "instanceId": "b5b974bc41a3711ee9be7ee2a5862c738ca2042147a003c6d3739c2af426f318"
  },
  "id": "jXzWjRmJ0HCkA18G",
  "tags": []
}